<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    {{{body}}}

    <form action="/newCat" method="POST" style="margin-bottom: 100px; border-bottom: 5px solid black;">
        <label for="">Name</label>
        <input type="text" name="name" id="">
        <label for="">Age</label>
        <input type="range" name="age" id="catAge" min="0" max="20" value="0">
        <span id="catAgeDisplayer">0</span>
        <button type="submit">SEARCH</button>
    </form>

    <script>
        document.querySelector("#catAge").onchange = function (e) {
            document.querySelector("#catAgeDisplayer").innerHTML = e.target.value
        }

    </script>

    <form action="/oneCat" method="GET" style="margin-bottom: 100px; border-bottom: 5px solid black;">
        <label for="">CAT ID</label>
        <input type="text" name="catID" id="">
        <button type="submit">SEARCH</button>
    </form>

    <form action="/search" method="GET">
        <label for="">City</label>
        <input type="text" name="city" id="">
        <label for="">Country</label>
        <input type="text" name="country" id="">
        <button type="submit">SEARCH</button>
    </form>
</body>

</html>